
<mat-sidenav-container fullscreen style="background-color: #5ba35e;">

  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width:'200px'}" style="background-color: #000000;">
    <mat-toolbar style="background-color: #000000;">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()" style="background-color: #000000;">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

  </mat-sidenav>

  <mat-toolbar style="background-color: #000000;">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>

    <button mat-button (click)="onLogout()">
      Cerrar Sesión
      <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
    <br>
    <div class="entrada">
      <span>Muchas gracias por visitarnos.</span>
    </div>

    <div [formGroup]="registrosolicitudesFG">
      <div class="filtro" >
        <div class="input-group">
          <div class="input-4">
            <h4>Afectado:</h4>
            <mat-form-field class="input-child" appearance="outline">
              <!--va dentro del input formControlName="dni" -->
              <input
                matInput
                type="text"
                placeholder="Afectado"
                autocomplete="off"
                formControlName="afectado"
              />
            </mat-form-field>
          </div>
          <div class="input-4">
            <h4>N° Solicitud:</h4>
            <mat-form-field class="input-child" appearance="outline">
              <!--va dentro del input formControlName="dni" -->
              <input
                matInput
                type="text"
                placeholder="Número de solicitud"
                autocomplete="off"
                formControlName="nro_solicitud"
              />
            </mat-form-field>
          </div>
          <div class="input-4">
            <h4>Fecha de Solicitud:</h4>
            <mat-form-field class="input-child" appearance="outline">
              <!--va dentro del input formControlName="dni" -->
              <input
                matInput
                type="text"
                placeholder="Fecha de Solicitud"
                autocomplete="off"
                formControlName="fecha_solicitud"
              />
            </mat-form-field>
          </div>
          <div class="input-4">
            <h4>Solicitud:</h4>
            <mat-form-field class="input-child" appearance="outline">
              <!--va dentro del input formControlName="dni" -->
              <input
                matInput
                type="text"
                placeholder="solicitud"
                autocomplete="off"
                formControlName="solicitud"
              />
            </mat-form-field>
            <!-- <mat-form-field
            class="ta"
            style="font-size: 16px"
            appearance="outline"
          >
            <textarea
              matInput
              readonly
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              style="color: #80848e"
              formControlName="solicitud"
            ></textarea>
          </mat-form-field> -->
          </div>

        </div>

        <div class="input-group">
          <div class="input-4">
            <h4>Cuenta de Creación:</h4>
            <mat-form-field class="input-child" appearance="outline">
              <!--va dentro del input formControlName="dni" -->
              <input
                matInput
                type="text"
                placeholder="Cuenta de Creación"
                autocomplete="off"
                placeholder="cuenta_creacion"
                formControlName="cuenta_creacion"
              />
            </mat-form-field>
          </div>

          <!--esto va debajo de click -- > [ngClass]="{
            btnEnabled: formStatus == true,
            btnDisabled: formStatus == false
          }"
          [disabled]="!formStatus"
          (click)="aniadirDatosPago()"-->
          <button
            mat-flat-button
            class="boton"
            (click)="aniadirSolicitudes()"
            >
            Añadir Datos de Solicitud
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>

        <br>

        <div class="outlet-hijo">
          <!-- *ngIf="mos" -->
          <div class="main-table" >
            <!--tabla cuerpo -->

            <div class="table-body">
              <table id="TablaTransaccionesR">
                <tr class="table-body-head">
                  <td>
                    <h4>N° Solicitud</h4>
                  </td>
                  <td>
                    <h4>Fecha de Solicitud</h4>
                  </td>
                  <td>
                    <h4>Solicitud</h4>
                  </td>
                  <td>
                    <h4>Cuenta de Creación</h4>
                  </td>
                  <td>
                    <h4>Afectado</h4>
                  </td>
                </tr>

                <tr
                  class="table-body-row"
                  *ngFor="
                    let item of scgroup.solicitud
                  "
                >

                  <td>{{ item.idsolicitud }}</td>
                  <td>{{ item.fecha_solicitud }}</td>
                  <td>{{ item.solicitud }}</td>
                  <td>{{ item.fecha_creacion }}</td>
                  <td>{{ item.afectado }}</td>
                  <!-- (click)="eliminarItemCuentaBancaria(item.idmodulo_prov)" -->
                  <td>
                    <div style="display: flex">
                      <button
                        mat-raised-button
                        matTooltip="Eliminar Solicitud"
                        style="margin-right: 10px; cursor: pointer"
                        [ngStyle]="{
                          'background-color': '#ff0000',
                          'color': '#ffffff',
                          'border': 'none',
                          'padding': '5px 10px',
                          'cursor': 'pointer'
                        }"
                        (click)="eliminarSolicitud(item.idsolicitud)"
                      >
                        <mat-icon style="color: white">delete</mat-icon>
                      </button>
                    </div>
                    <button
                    mat-raised-button
                    matTooltip="Contactos"
                    color="primary"
                    style="margin-right: 10px; cursor: pointer"
                    [ngStyle]="{
                      'background-color':'#008467'
                    }"
                    (click)="agregarEvaluacion(item)"
                    >
                    <mat-icon style="color: white">group_add</mat-icon>
                  </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>



</mat-sidenav-container>


